# Логи
logs
*.log

# Переменные окружения
.env

# Кэш и временные файлы
.DS_Store
.cache/
*.xlsx
data/__pycache__/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
